 body {
      background-image: url({{ url_for ('static', filename = 'olivia-anne-snyder-o-ADhD9o3Bg-unsplash.jpg')}});
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
    }

    .card{
           background: #ffffff66 !important;
    box-shadow: 0 8px 32px 0 #ffffff5e !important;
    backdrop-filter: blur( 5.5px ) !important;
    -webkit-backdrop-filter: blur( 5.5px ) !important;
    border-radius: 10px !important;
    border: 1px solid #ffffff2e !important;
    }